html {
    height: 100%;
    margin: 0;
    padding: 0;

    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
            user-select: none; /* Propriété standard */

    background: -webkit-linear-gradient(to top, #46525f, #8699aa);
    background: linear-gradient(to top, #46525f, #8699aa);
    background-attachment: fixed;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;

    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}

body:not(.active) {
  background: none;
}

.about {
    position: relative;
    width: 400px;
    min-height: 460px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    background: #fff;

    -webkit-animation: fadeup 0.5s 0.5s ease both;
            animation: fadeup 0.5s 0.5s ease both;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);

    opacity: 0;
}

.about .back {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;

    opacity: 0;
    -webkit-animation: fadeup 0.5s 2s ease both;
            animation: fadeup 0.5s 2s ease both;
}
.about .card {
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}
.about .card h2 {
    margin-top: 34px;
}
.about .card p {
    font-size: 14px;
    line-height: 1.4;
}
.about .card p a {
    color: #4d72b6; /* 4db6ac */
}
.about .card > img {
    width: auto;
    height: 128px;
}
.about .card > form {
    display: inline;
}
.about .card > form > input {
    height: 64px;
    margin-right: 32px;
    margin-bottom: 32px;
}
.about .card li {
    text-align: left;
    height: 12px;
    margin-left: 12px;
}
.about p.credit {
    margin-bottom: 34px;
}