html {
    height: 100vh;
    margin: 0;
    padding: 0;

    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
            user-select: none; /* Propriété standard */

    background: -webkit-linear-gradient(to top, #46525f, #8699aa);
    background: linear-gradient(to top, #46525f, #8699aa);
    background-attachment: fixed;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;

    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
}

body:not(.active) {
  background: none;
}

.card {
    position: relative;
    width: 400px;
    min-height: 460px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    background: #fff;
    -webkit-animation: fadeup 0.5s 0.5s ease both;
            animation: fadeup 0.5s 0.5s ease both;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
}

.card .body {
  text-align: center;
  padding: 50px 0;
  padding-bottom: 30px;
}
.card .body.hidden {
  display: none;
}
.card .body input[type=file] {
  visibility: hidden;
}
.card .body i {
  font-size: 65px;
  color: lightgray;
}
.card .body p {
  font-size: 14px;
  padding-top: 15px;
  line-height: 1.4;
}
.card .body p b,
.card .body p a {
  color: #4d72b6;
}
.card .body.active {
  border: dashed 2px #4d72b6;
}
.card .body.active i {
  box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
  -webkit-animation: file 0.5s ease both;
          animation: file 0.5s ease both;
}
@-webkit-keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
					100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
@keyframes file {
  50% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
					100% {
    box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
.card #content-upload {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.card #content-upload .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #4d72b6; /* 46aba1 */
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.card #content-upload .divider span {
  display: inline-block;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  font-size: 12px;
  padding-top: 8px;
}
.card #content-upload.hasFiles {
  height: auto;
}
.card #content-upload.hasFiles .divider {
  width: 100%;
}
.card #content-upload.hasFiles .divider span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0.5s ease;
  transition: -webkit-transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
}
.card #content-upload #list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.card #content-upload #list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.card #content-upload #list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.card #content-upload #list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.card #content-upload #list-files .file {
  width: 300px;
  min-height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: fade 0.35s ease both;
          animation: fade 0.35s ease both;
}

input#password, select {
    outline: none;
    background: transparent;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  
    width: 40%;
    height: 30px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.download {
    color: #808080;
}
.preview-image > .download,
.preview-video > .download {
    color: #4d72b6;
}
button {
  outline: none;
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  bottom: 32px;
  margin: auto;
  border: solid 1px #4d72b6;
  color: #4d72b6;
  background: transparent;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  margin-left: auto !important;
  margin-right: auto !important;

  opacity: 0;
  visibility: hidden;
}
button.active {
  -webkit-transition: opacity 0.5s 1.5s ease, background, -webkit-transform 0.5s 1.5s ease;
  transition: opacity 0.5s 1.5s ease, background, -webkit-transform 0.5s 1.5s ease;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background, -webkit-transform 0.5s 1.5s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
button:hover {
  background: #4d72b6;
  color: #fff;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

/* Download list */

.download-name {
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 250px;
  text-align: left;
}

/* Popup */
#popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #00000063;
    overflow: hidden;

    opacity: 0;
    transition: opacity 0.5s ease 0s;
    pointer-events: none;
}
#popup.active {
    opacity: 1;
    pointer-events: initial;
}
#popup > img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;

    transform: scale3d(0, 0, 1);
    transition: transform 0.2s ease 0s;
}
#popup.active > img {
    transform: scale3d(1, 1, 1);
}